.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 18px;
}

.category-label {
  font-size: 12px;
  color: #ff6a00;
  font-weight: 600;
}

.instructor-text {
  font-size: 14px;
  color: #666;
}

/* LINE AFTER INSTRUCTOR */
.divider {
  height: 1px;
  background: #eee;
  margin: 12px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #777;
}

.rating {
  color: #f1c40f;
  font-weight: bold;
}

/* LEVEL BADGE */
.card-image-container {
  position: relative;
}

.level-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #2ecc71;
  color: white;
  padding: 4px 10px;
  font-size: 11px;
  border-radius: 4px;
}

.card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}